<p-menubar [model]="header_items" class="header">
    <ng-template pTemplate="start">
        <a [routerLink]="'/dog-dashboard'">
            <span class="material-icons">pets</span>
        </a>
      </ng-template>
    <ng-template  #item let-item let-root="root">
        <ng-container *ngIf="item.style; else normalItem">
            <a [routerLink]="item.route" class="p-menubar-item-link">
                <span class="ml-2">{{ item.label }}</span>
                <span [class]="item.icon"></span>
            </a>
        </ng-container>
        <ng-template #normalItem>
            <a [routerLink]="item.route" class="p-menubar-item-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <span *ngIf="item.items" class="pi pi-fw pi-angle-down ml-2"></span>
            </a>
        </ng-template>
        <ng-template #noLink>
            <div class="p-menubar-item-link">
                <span class="ml-2">{{ item.label }}</span>
            </div>
        </ng-template>
    </ng-template>
</p-menubar>
